# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true
column = 80, 120

[*]
guidelines = 80, 120
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false


[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_extra_spaces = leave_multiple
csharp_indent_switch_labels = false

dotnet_diagnostic.IDE0057.severity = silent  # use range op. instead of substring
dotnet_diagnostic.IDE1006.severity = silent  # naming
dotnet_diagnostic.CS8603.severity = silent  # CS8603: Possible null reference return.
dotnet_diagnostic.CS8604.severity = silent  # CS8604: use nullable argument.
dotnet_diagnostic.CS8625.severity = silent  # CS8625: Connot convert null to non-nullable
